body{
    color: white;
    font-size: 2.4vh;
    font-family: 'Calibri';
}

p{
    margin: 0;
    margin-left: 2vw;
    margin-top: 1vh;
}

h1{
    font-size: 3.2vh;
}

h2{
    font-size: 2.8vh;
}

.color{
    display: inline-block;
    width: 1vw;
    height: 2vh;
}